body {
  line-height: 2;
  font-size: 0.9rem;
  text-shadow: 0 2px 2px rgb(0, 0, 0, 0.75);
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.03rem;
  background: linear-gradient(rgb(40, 20, 20), rgb(119, 90, 90), rgb(40, 20, 20));
}

h1 {
  line-height: 1;
  font-size: 2.5rem;
  font-family: "Ruslan Display", sans-serif;
  letter-spacing: 0.01rem;
  padding: 0.5rem 1rem 0 0.4rem;
  -webkit-text-stroke: 0.4px rgb(17, 109, 110);
  margin: 0;
}

h2 {
  color: rgb(176, 176, 176);
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  letter-spacing: 0.06rem;
  font-size: 1.2rem;
  padding: 0 0 0 1.3rem;
  line-height: 1rem;
  width: 100%;
}

header {
  background: linear-gradient(rgb(78, 54, 54), rgb(78, 54, 54, 0.95));
  color: rgb(229, 229, 229);
  display: flow-root;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.75);
}

header > div {
  padding: 0.4rem 1rem;
  align-items: center;
}

footer > div {
  width: 26rem;
}

a {
  color: rgb(176, 176, 176);
  text-decoration: none;
  font-family: "Russo One", sans-serif;
  line-height: 1;
  padding: 0.4rem;
  font-size: 0.9rem;
}

img {
  width: 100%;
}

div.categories {
  background: linear-gradient(rgb(78, 54, 54), rgb(78, 54, 54, 0));
  width: 16rem;
  border-radius: 5px;
  text-align: center;
}

.categories > a {
  font-size: 1.2rem;
  padding: 0 0.8rem;
}

a.active {
  color: rgb(229, 229, 229);
}

#input-div {
  padding: 0 0.4rem 0 1rem;
}

#search {
  font-family: "Source Sans 3", sans-serif;
  font-size: 0.9rem;
  background: linear-gradient(rgb(50, 30, 30, 0.85), rgb(119, 90, 90, 0.3));
  color: rgb(176, 176, 176, 0.75);
  padding: 0.4rem;
  border-radius: 5px;
  border-style: none;
  text-shadow: 0 2px 2px rgb(0, 0, 0, 0.75);
}

ul {
  padding: 0;
  list-style: none;
  justify-content: center;
}

li {
  padding: 0 0.8rem 1.5rem;
}

li > div {
  width: 150px;
  height: 200px;
}

li > div > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.75);
}

i {
  font-size: 23px;
}

.relative {
  position: relative;
}

span {
  font-size: 1.5rem;
  color: rgba(230, 230, 230, 0.69);
  position: absolute;
  right: 5px;
  top: 5px;
}

.fa-chevron-left {
  color: rgb(230, 230, 230, 0.69);
  font-size: 40px;
  position: absolute;
  left: 5px;
  bottom: 110px;
  transition: all 0.2s;
  z-index: 1;
}

.fa-chevron-right {
  color: rgb(230, 230, 230, 0.69);
  font-size: 40px;
  position: absolute;
  right: 5px;
  bottom: 110px;
  transition: all 0.2s;
  z-index: 1;
}

.fa-chevron-left:hover .fa-chevron-right:hover {
  color: rgb(229, 229, 229);
  font-size: 43px;
  -webkit-text-stroke: 1px rgb(17, 109, 110);
}

header.search-mobile {
  justify-content: center;
}

div.row.search-mobile {
  width: 25rem;
}

div#input-div.search-mobile {
  padding: 0.7rem 0;
  display: flex;
  width: 100%;
  margin: 0.3rem;
}

i#back.fa-chevron-left {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 33px;
  margin: 0.6rem 1.2rem 0.6rem 0;
}

.search-mobile > #search {
  padding: 0.5rem;
  font-size: 1.6rem;
  width: 100%;
}
